<%= form_with(model: animal) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.color_field :color %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <div class="custom-file">
      <%= form.file_field :banner, :class => "custom-file-input", :id => "inputGroupFile02"%>
      <label class="custom-file-label" for="inputGroupFile02">Choose file...</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
  </div>
  

  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-lg btn-block" %>
    <%= link_to 'Cancel', animals_path, :class => "btn btn-secondary btn-lg btn-block" %>
  </div>
<% end %>

<script>
  $('#inputGroupFile02').on('change',function(){
    var fileName = $(this).val();
    $(this).next('.custom-file-label').html(fileName);
  })
</script>