<h1>Mis Items</h1>

<% @items.each do |item| %>
  <div class="card">
    <h3 class="text-uppercase"><%= item.name %></h3>
    <p class="text-secondary"><%= item.created_at %></p>
    <p><%= item.description %></p>
    <p><%= item.price %>$</p>
    <p><%= item.stock %>$</p>
    <%= link_to 'Show', item %>
    <%= link_to 'Edit', edit_item_path(item) %>
    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<%end%>

<br>

<%= link_to 'New Item', new_item_path %>