<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<div class="margin-top">
  <p class="label"> Tags </p>
  <% @item.categories.each do |category| %>
    <span class="badge badge-pill" style="background-color: <%= category.color %>"> 
      <%= link_to category.title, category, class:"text-white"%>
    </span>
  <% end %>
  <% @item.animals.each do |animal| %>
    <span class="badge badge-pill" style="background-color: <%= animal.color %>"> 
      <%= link_to animal.title, animal, class:"text-white"%>
    </span>
  <% end %> 
  <% @item.sizes.each do |size| %>
    <span class="badge badge-pill" style="background-color: <%= size.color %>"> 
      <%= link_to size.title, size, class:"text-white"%>
    </span>
  <% end %>
</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
